#navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navBar li {
    float: left;
}

#navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navBar li a:hover {
    background-color: #111;
}

.hide {
    display: none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 40%;
    display: inline-block;
    /* transition: 0.3s; */
    margin: 15px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form {
    /* margin: 0 auto; */
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 190px;
    text-align: left;
  }