/* Styling for navbar */
#navBar {
    margin-bottom:10px;
}

#navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navBar li {
    float: left;
}

#navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navBar li a:hover {
    background-color: #111;
}


/* To hide certain elements */

.hide {
    display: none;
}

/* Styling for form */
form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form {
    /* margin: 0 auto; */
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 190px;
    text-align: left;
}

/* Styling for table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}